
<div class="main-container">
    <div class="gcContainer">
        <h1>I am GameController</h1>
        <div class="button-dipslay">
            <button (click)="startGame()" mat-raised-button color="primary" (click)="startBar()">Start</button>
        
            <button (click)="stopGame()" mat-raised-button color="warn"  (click)="stopBar()">Stop</button>

            <button (click)="resetGame()"  mat-raised-button color="warn" *ngIf="show">Reset</button>
        </div>
        
        <h3>Timer----{{timerRunner}}</h3>
        <div class="childContainer">
        
            <app-even [evenCount]="passEvenCount()"  [reset]="resetIndicator">
        
            </app-even>
            
            <app-odd [oddCount]="passOddCount()"  [reset]="resetIndicator"></app-odd>
        
        </div>
        
        </div>


</div>


