.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0; 
    height: 100px;
    position: sticky;
    margin-bottom: 0px;
    

  }
  span{
    font-size: medium;
  }
  
  /* Adjust styling as needed */
  mat-icon {
    margin-right: 5px;
  }